body {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #849d8f;
}

input, button {
	font-family: inherit;
	font-size: inherit;
}

h1 {}

h2 {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}

h3 {
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}

.header {
	margin: 0;
	padding: 0;
}

.container {
	width: 1146px;
	margin: 0 auto;
	padding: 0 26px;
}

.logo {
	float: left;
}
.main-navigation {
	padding: 0;
	float: left;
	color: #ffffff;
	width: 450px;
}
.main-navigation a {
	display: block;
	padding: 8px 15px;
	color: #ffffff;
	text-decoration: none;
}

.navigation-link:hover span {
	border-bottom: none;
}

.main-navigation a:hover {
	color: #000000;
	background: #ffffff;
	border-radius: 32px;
	text-decoration: none;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	padding: 50px 0px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	vertical-align: top;
}
.user-block {
	display: none;
	float: right;
	width: 267px;
	color: #ffffff;
}

.promo {
	max-width: 520px;
	min-height: 230px;
	padding: 0 20px;
	border-radius: 18px;
}

.blog {
	padding: 0;
	height: 221px;
	margin-bottom: 50px;
}

.blog-news {
	float: left;
	padding-left: 22px;
	width: 530px;
	height: 220px;
	margin-right: 26px;
	border-radius: 13px;
	background: #ffffff url("../img/blog.jpg") no-repeat center;
}

.blog-news p {
	display: inline-block;
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: medium;
	text-align: left;
}

.blog-news a {
	display: inline-block;
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-align: left;
}

.map {
	height: 430px;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	background: url("../img/map.jpg") no-repeat center;
}

.feedback {
	float: right;
	padding: 30px 26px;
	margin: 0px;
	margin-top: 63px;
	width: 250px;
	border-radius: 12px;
	max-height: 305px;
	background-color: white;
}

.feedback p {
	display: inline-block;
	margin: 0;
	margin-right: 85px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	text-align: left;
}

.feedback b {
	display: inline-block;
	padding: 0;
	margin: 10px 0;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-align: left;
}

.feedback span {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}

footer {
height: 83px;
}

.footer-social {
	float: left;
	width: 250px;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	margin-right: 203px;
}


